.button {
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: $c-gray-300;
  cursor: pointer;
  transition: all 150ms ease;
  &:hover {
    background: $c-sky-600;
  }

  &.active {
    animation: playing 2s infinite;
  }
}

.button-icon {
  display: none;
  &.active {
    display: inline-block;
  }
}

@keyframes playing {
  0% {
    color: $c-gray-900;
  }
  70% {
    color: $c-red-600;
  }
  100% {
    color: $c-gray-900;
  }
}
