@import "@scss/utils/variables";

#timebar {
  background: linear-gradient(
      transparentize($c-gray-100, 0.9),
      transparentize($c-gray-100, 0.9)
    ),
    $c-sky-900;
  position: relative;
  display: block;

  // example for styling
  .timeblock {
    width: 100%;

    &:nth-child(3) {
      border-top: 1px solid cyan;
    }

    &:nth-child(2n + 4) {
      background: $c-red-600;
      border-top: 4vh solid $c-green-600;
    }
  }
}
